{% include 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_cle.css') }}" type="text/css"/>

    <h1>Edition de clé</h1>

    <div id="container">

    {{ form_start(edit_form) }}
    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.numCle) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.numCle) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.dateCreation) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.dateCreation) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.dateArret) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.dateArret) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.montantInitial) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.montantInitial) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.commentaire) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.commentaire) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.idEtat) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.idEtat) }}
        </div>
    </div>

    </div>
    <div class="form-box">
        <input id="boutton" type="submit" value="Modifier" />
        {{ form_end(edit_form) }}
    </div>

    <br>

    <div class="form-box">
        {{ form_start(delete_form) }}
        <input id="boutton" type="submit" value="Supprimer cette clé" onclick="if(!confirm('Etes vous sure de vouloir supprimer cette clé ?')) { return false; }" >
        {{ form_end(delete_form) }}
    </div>

        <br>
        <a href="{{ path('cle_index') }}"><input id="boutton" type="button" value="Revenir a la liste"></a>

{% endblock %}
{% include 'footer.html.twig' %}
