{% include 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style_etat.css') }}" type="text/css"/>

    <h1>Création d'un type d'utilisateur</h1>

    <div id="container">

    {{ form_start(form) }}
    <div class="form-box">
        <div class="form-label">
            {{ form_label(form.typeUser) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(form.typeUser) }}
        </div>
    </div>

    </div>

    <div class="form-box">
        <input id="boutton" type="submit" value="Créer ce type d'utilisateur" />
        {{ form_end(form) }}
    </div>

        <br>
        <a href="{{ path('typeuser_index') }}"><input id="boutton" type="button" value="Revenir a la liste"></a>

{% endblock %}
{% include 'footer.html.twig' %}
