{% include 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>

    <h1>Modifier un utilisateur</h1>

    <div id="container">

    {{ form_start(edit_form) }}
    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.nom) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.nom) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.prenom) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.prenom) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.actif) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.actif) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.idSite) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.idSite) }}
        </div>
    </div>

    <div class="form-box">
        <div class="form-label">
            {{ form_label(edit_form.idTypeUser) }} :
        </div>
        <div class="form-widget">
            {{ form_widget(edit_form.idTypeUser) }}
        </div>
    </div>
</div>

    <div class="form-box">
        <input id="boutton" type="submit" value="Modifier" />
        {{ form_end(edit_form) }}
    </div>

    <br>

    <div class="form-box">
        {{ form_start(delete_form) }}
        <input id="boutton" type="submit" value="Supprimer cet utilisateur" onclick="if(!confirm('Etes vous sure de vouloir supprimer cet utilisateur ?')) { return false; }" >
        {{ form_end(delete_form) }}
    </div>

        <br>
        <a href="{{ path('user_index') }}"><input id="boutton" type="button" value="Revenir a la liste"></a>

{% endblock %}
{% include 'footer.html.twig' %}
